interactions:
  - request:
      body: null
      headers: {}
      method: GET
      uri: https://api-metrika.yandex.ru/management/v1/counter/1383371/logrequests/evaluate?date1=2023-01-01&date2=2023-01-01&source=visits&fields=ym:s:pageViews
    response:
      body:
        string: '{"log_request_evaluation":{"possible":true,"expected_size":242190,"max_possible_day_quantity":39001,"log_request_sum_max_size":10737418240,"log_request_sum_size":9445775031}}'
      headers:
        Content-Type:
          - application/json;charset=utf-8
      status:
        code: 200
        message: OK
      url: https://api-metrika.yandex.ru/management/v1/counter/1383371/logrequests/evaluate?date1=2023-01-01&date2=2023-01-01&source=visits&fields=ym:s:pageViews
  - request:
      body: null
      headers:
      method: POST
      uri: https://api-metrika.yandex.ru/management/v1/counter/1383371/logrequests?date1=2023-01-01&date2=2023-01-01&source=visits&fields=ym:s:pageViews
    response:
      body:
        string: '{"log_request":{"request_id":31141972,"counter_id":1383371,"source":"visits","date1":"2023-01-01","date2":"2023-01-01","fields":["ym:s:pageViews"],"status":"created","size":0,"attribution":"LASTSIGN"}}'
      headers:
        Content-Type:
          - application/json;charset=utf-8
      status:
        code: 200
        message: OK
      url: https://api-metrika.yandex.ru/management/v1/counter/1383371/logrequests?date1=2023-01-01&date2=2023-01-01&source=visits&fields=ym:s:pageViews
  - request:
      body: null
      headers:
      method: GET
      uri: https://api-metrika.yandex.ru/management/v1/counter/1383371/logrequest/31141972
    response:
      body:
        string: '{"log_request":{"request_id":31141972,"counter_id":1383371,"source":"visits","date1":"2023-01-01","date2":"2023-01-01","fields":["ym:s:pageViews"],"status":"processed","size":109237,"parts":[{"part_number":0,"size":109237}],"attribution":"LASTSIGN"}}'
      headers:
        Content-Type:
          - application/json;charset=utf-8
      status:
        code: 200
        message: OK
      url: https://api-metrika.yandex.ru/management/v1/counter/1383371/logrequest/31141972
  - request:
      body: null
      headers:
      method: GET
      uri: https://api-metrika.yandex.ru/management/v1/counter/1383371/logrequest/31141972/part/0/download
    response:
      body:
        string: "ym:s:pageViews

          1

          1

          9

          1

          1

          4

          1

          10

          1

          14

          4

          17

          11

          1

          7

          9

          1

          5

          1

          18

      [...]
  - request:
      body: null
      headers:
      method: GET
      uri: https://api-metrika.yandex.ru/management/v1/counter/1383371/logrequest/31141972/clean
    response:
      body:
        string:
          '{"errors":[{"error_type":"invalid_parameter","message":"Request method
          ''GET'' not supported"}],"code":400,"message":"Request method ''GET'' not
          supported"}'
      headers:
        Content-Type:
          - application/json;charset=utf-8
      status:
        code: 400
        message: Bad Request
      url: https://api-metrika.yandex.ru/management/v1/counter/1383371/logrequest/31141972/clean
  - request:
      body: null
      headers:
      method: POST
      uri: https://api-metrika.yandex.ru/management/v1/counter/1383371/logrequest/31141972/clean
    response:
      body:
        string: '{"log_request":{"request_id":31141972,"counter_id":1383371,"source":"visits","date1":"2023-01-01","date2":"2023-01-01","fields":["ym:s:pageViews"],"status":"cleaned_by_user","size":109237,"parts":[{"part_number":0,"size":109237}],"attribution":"LASTSIGN"}}'
      headers:
        Content-Type:
          - application/json;charset=utf-8
      status:
        code: 200
        message: OK
      url: https://api-metrika.yandex.ru/management/v1/counter/1383371/logrequest/31141972/clean
version: 1
